<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "https://lh3.googleusercontent.com/-b6rFRs9_f8w/AAAAAAAAAAI/AAAAAAAAABY/iOCyuuULMn4/s80-p-k-rw-no/photo.jpg", width: 300, alt: "Profile Image" %>
  </div>
  
  <div class="col-md-8">
    <p>Caden is Awesome about.html.erb</p>
  </div>
</div>