<div class="inner cover">
   <h1 class="cover-heading">Caden Candland's Portfolio</h1>
   <p class="lead">This is My Portfolio and the text can be changed in /AppName/app/views/pages/home.html.erb (about and contact pages found in same spot)</p>
   <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
   </p>
</div>